<div class="web-devlopment">
    <div class="description">
        <div class="des-title">
            Web Devlopment
        </div>
        <div class="des-intro">
          <p>At Moldex3D, I am responsible for front-end development of Moldex3D Material Wizard, a chemical material search engine, and Moldex3D Everything, an auto-analysis application.</p>
          <p>I am skilled in web page layout, document object model (DOM), and responsive design (RWD). I am also experienced with Node.js to integrate with RESTful APIs for complete web applications. </p>
          <p>
            I am familar with using front-end frameworks for development such as Angular and Bootstrap.
          </p>
           
        </div>
        <div class="des-icons">
          <div style="font-weight: 500;">
            Skillsets
          </div>
          <div class="des-icons-option" >
            <div class="icon-wrapper">
              <img width="50%" src="assets/images/web-icon-1.png" alt="">
            </div>
            <span>Angular & Angular Material</span>
          </div>
          <div class="des-icons-option" >
            <div class="icon-wrapper">
              <img width="50%" src="assets/images/web-icon-2.png" alt="">
            </div>
            <span>Bootstrap</span>
          </div>
          <div class="des-icons-option" >
            <div class="icon-wrapper">
              <img width="50%" src="assets/images/web-icon-3.png" alt="">
            </div>
            <span>Node.js & Javascript</span>
          </div>
          <div class="des-icons-option" >
            <div class="icon-wrapper">
              <img width="50%" src="assets/images/web-icon-4.png" alt="">
            </div>
            <span>HTML & CSS</span>
          </div>
          <div class="des-icons-option" >
            <div class="icon-wrapper">
              <img width="50%" src="assets/images/web-icon-5.png" alt="">
            </div>
            <span>Chart.js</span>
          </div>
        </div>
    </div>
    <div class="carousels">
        <div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>

            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="web-dev-1"></div>
                <div class="carousel-caption d-none d-md-block web-dev-intro">
                  <h3>Material Wizard</h3>
                  <p>Chemical Material Search and Management Engine</p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="web-dev-2"></div>
                <div class="carousel-caption d-none d-md-block web-dev-intro">
                  <h3>Moldex3D Everything</h3>
                  <p>Auto-analysis CAE Setting Application</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <!-- <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="web-dev-1"></div>
              </div>
              <div class="carousel-item">
                <div class="web-dev-2"></div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div> -->
    </div>
</div>