<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="showSidenav">
    <div class="drawer-top">
      <div class="drawer-head">
        Skills
      </div>
  
      <button class="drawer-btn"  mat-button routerLink="/home" routerLinkActive="active-link-side">
        <span class="material-icons-outlined">home</span>
         <span class="drawer-option-txt">Home</span> 
      </button>
  
      <button class="drawer-btn"  mat-button routerLink="/userresearch" routerLinkActive="active-link-side">
        <span class="material-icons-outlined">person_outline</span>
         <span class="drawer-option-txt">User Research</span> 
      </button>
  
      <button class="drawer-btn"  mat-button routerLink="/webdevlopment" routerLinkActive="active-link-side">
        <span class="material-icons-outlined">code</span>
         <span class="drawer-option-txt">Web Development</span> 
      </button>
  
      <button class="drawer-btn"  mat-button routerLink="/uiux" routerLinkActive="active-link-side">
        <span class="material-icons-outlined">edit</span>
         <span class="drawer-option-txt">UIUX Design</span> 
      </button>
  
      <!-- <button class="drawer-btn"  mat-button>
        <span class="material-icons-outlined">groups</span>
         <span class="drawer-option-txt">Team Building</span> 
      </button> -->
    </div>


    <div class="drawer-bottom">
      <img src="assets/images/Moldex3DLogo.png" alt="">
    </div>
  </mat-drawer>

  <div class="sidenav-content">
    <!-- <button class="sidenav-btn" mat-icon-button (click)="drawer.toggle();showSidenav = !showSidenav">
      <mat-icon>{{showSidenav?'close':'menu'}}</mat-icon>
    </button> -->
    <mat-toolbar class="toolbar">
      <button mat-icon-button (click)="drawer.toggle();showSidenav = !showSidenav">
        <mat-icon>{{showSidenav?'close':'menu'}}</mat-icon>
      </button>
      <!-- <span>Kuo-Ping</span> -->
      <span class="toolbar-spacer"></span>
      <button mat-button class="toolbar-btn" routerLink="/home"  routerLinkActive="active-link-nav">
        <span>Home</span>
      </button>
      <button mat-button class="toolbar-btn" routerLink="/userresearch"  routerLinkActive="active-link-nav">
        <span>User Research</span>
      </button>
      <button mat-button class="toolbar-btn" routerLink="/webdevlopment"  routerLinkActive="active-link-nav">
        <span>Web Development</span>
      </button>
      <button mat-button class="toolbar-btn" routerLink="/uiux"  routerLinkActive="active-link-nav">
        <span>UIUX Design</span>
      </button>
      <!-- <button mat-button class="toolbar-btn">
        <span>Team Building</span>
      </button> -->
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    
  </div>

</mat-drawer-container>