<div class="home">
  <div class="home-wrapper">
    <div class="home-txt">
      <div class="head" >Hello, I am Kuo-Ping 
        <!-- <img height="38px" src="assets/images/Moldex3DLogo.png" alt=""> -->
      </div>
      <div class="job" >Deputy Project Manager | UIUX Designer </div>
      <div class="intro">
        <p>A senior <b>UIUX designer/developer</b> with over 5-year experience in developing user interface of multiple platforms including desktop and web applications, and ARVR installations.</p>
        <p>At Moldex3D, I mainly focus on <b>front-end development and UIUX for Moldex3D Studio</b>, a CAE(Computer-aided Engineering) software targeting at B2B market.</p>
      </div>
    </div>
    <div class="home-img">
      <img  width="500px" src="assets/images/kp-1.png" alt="">
    </div>
  </div>

  
</div>
